[Unit]
Description=A userspace gamepad driver

[Service]
Type=forking
User=root
ExecStart=/usr/bin/xboxdrv_connect.sh add ps3_hori_pad

[Install]
WantedBy=multi-user.target
