#ACTION=="add", KERNEL=="js[0-9]*", SUBSYSTEM=="input", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0025", RUN+="/bin/rm /dev/input/js%n"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0025", SYMLINK+="input/ps3_hori_pad", ACTION=="add", RUN+="/bin/systemctl start ps3_hori_pad"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0025", ACTION=="remove", RUN+="/usr/bin/xboxdrv_connect.sh rm ps3_hori_pad"
